In [1]:
import pyodbc
import pandas as pd
MY_DSN = "DRIVER=/opt/mapr/drillodbc/lib/universal/libmaprdrillodbc.dylib;Host=localhost;Port=31010;ConnectionType=Direct;Catalog=Drill;Schema=mfs.views;AuthenticationType=No Authentication"
conn = pyodbc.connect(MY_DSN, autocommit=True, unicode_results=True)
cursor = conn.cursor()

In [4]:

#employee_query = """SELECT position_title, COUNT( employee_id ) as employee_count
#FROM cp.`employee.json`
#GROUP BY position_title 
#"""

#cursor.execute( 'use cp')

employee_query = "SELECT * FROM cp.`employee.json`"

data = pd.read_sql( employee_query, conn )

DatabaseError: Execution failed on sql 'SELECT * FROM cp.`employee.json`': ('HY000', '[HY000] [MapR][Drill] (1040) Drill failed to execute the query: ����������������\n[30027]Query execution error. Details:[ \nPARSE ERROR: Lexical error at line 1, column 1.  Encountered: "\\ufffd" (65533), after : ""\n\n\n[Error Id: 37e6410e-7c24-4219-b5c3-5c377a2 (1040) (SQLExecDirectW)')